<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>go fresh home</title>
</head>
<body>
<style>
 body{
     margin: 0;
     text-align: center;
 }
 hr{
    margin-left: 30%;
    margin-right: 30%;
}
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
 </style>
<ul>
  <li><a href="{% url 'crm:home' %}">(Icon)</a></li>
    <li><a href="{% url 'crm:home' %}">Home</a></li>
  <li><a href="{% url 'crm:shop' %}">Shop</a></li>
  <li><a href="{% url 'crm:pricing' %}">Schedule</a></li>
    <li style="float: right;"><a href="{% url 'crm:signin' %}">Sign In</a></li>
  <li style="float: right;"><a href="{% url 'crm:cart' %}">Cart</a></li>
</ul>
<h1>Cart</h1>





</body>
</html>