{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}My shop{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <ul>
  <li><img src="{% static "img/logo.png" %}" width ="40" height="40"></li>
    <li><a href="{% url "shop:home" %}">Home</a></li>
  <li><a href="{% url "shop:product_list" %}">Shops</a></li>
  <li><a href="{% url "shop:schedule" %}">Schedule</a></li>
    <li style="float: right;"><a>Sign In</a></li>
  <li style="float: right;"><div class="cart">
      {% with total_items=cart|length %}
          {% if cart|length > 0 %}

            <a href="{% url "cart:cart_detail" %}"> Cart:
              {{ total_items }} item{{ total_items|pluralize }}
            </a>
          {% else %}
              <a>Your cart is empty.</a>
          {% endif %}
        {% endwith %}
    </div></li>
</ul>
  </div>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>